# =======================================================
# VARIABLES DE ENTORNO OFICIALES - DOKPLOY (QC KENYA)
# Proyecto #15 - Dominio: ensamblaje.sekaitech.com.pe
# =======================================================

DOMAIN=ensamblaje.sekaitech.com.pe

# Base de Datos PostgreSQL
POSTGRES_USER=qc_admin
POSTGRES_PASSWORD=KenyaQC2026Secure!
POSTGRES_DB=qc_kenya_db
POSTGRES_PORT=5415

# Cadena de conexión interna entre contenedores
DATABASE_URL=postgresql://qc_admin:KenyaQC2026Secure!@postgres:5432/qc_kenya_db

# Puerto Host Frontend (terminado en 15 para evitar colisiones)
PORT=3015
